<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.redworld.auth.mapper.AccountMapper">
	
	<resultMap id="accResultMap" type="Account">
        <id property="id" column="id"/>
        <result property="authId" column="auth_id"/>
        <result property="provinceId" column="province_id"/>
        <result property="provinceName" column="province_name"/>
		<result property="cityId" column="city_id"/>
		<result property="cityName" column="city_name"/>
		<result property="genderId" column="gender_id"/>
		<result property="avatarImageName" column="avatar_image_name"/>
		<result property="groupId" column="group_id"/>
	</resultMap> 

	<insert id="save" parameterType="Account">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
	      SELECT LAST_INSERT_ID()
	    </selectKey>
		INSERT INTO account (auth_id, name, city_id, province_id, gender_id, avatar_image_name) 
		VALUES (#{authId}, #{name}, #{cityId}, #{provinceId}, #{genderId}, #{avatarImageName})
	</insert>
  
	<select id="getByAuthId" parameterType="long" resultType="Account" resultMap="accResultMap">  
		select *, c.name as city_name, p.name as province_name from account a
			left join city c on c.id = a.city_id
			left join province p on p.id = a.province_id
			where a.auth_id = #{authId}
	</select>
	
	<select id="getByToken" parameterType="java.lang.String" resultType="Account" resultMap="accResultMap">
		select *, c.name as city_name, p.name as province_name from account a
			inner join auth auth on auth.id = a.auth_id
			left join city c on c.id = a.city_id
			left join province p on p.id = a.province_id
			where auth.token = '${token}'
	</select>
	
	<update id="setRegistionid">
		update account set registionid = #{registionid} where auth_id = #{authId}
	</update>

	<update id="setGroup" >  
		update account set group_id = #{groupId} where auth_id = #{authId}
	</update>
	
	<update id="updateById" parameterType="com.redworld.auth.model.Account">
    update account
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null">
        province_id = #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null">
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="genderId != null">
        gender_id = #{genderId},
      </if>
      <if test="avatarImageName != null">
        avatar_image_name = #{avatarImageName}
      </if>
    </set> 
    where auth_id = #{authId,jdbcType=BIGINT}
  </update>
</mapper>